@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container{
    margin: 0em auto;
    padding: 0em 15em 5em ;
    max-width: fit-content;
    border-radius: 40px;
    border: 5px solid #e2442f;
    background-color: #afbdc9;
}
header{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 1em 0;
}
table{
    margin:auto;
    border-collapse: collapse;
    background-color: #eddada;
}
td{
    border: 5px solid #da6060;
    width: 13em;
    height: 10em;
}
#chart{
    color:white;
    margin: 2em auto 0;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width:fit-content;
    padding: 25px 40px;
    background-color: #174da3;
    border-radius: 10px;  
}

